<footer class="m-5">
    <label class="text-lg">
        Creative Commons Licenses
    </label>
    <li>
    <a 
        href="https://www.flaticon.com/free-icons/idea" 
        title="idea icons"
        class="underline">
        Idea icons created by Freepik - Flaticon
    </a>
    </li>
</footer>
</body>

</html>